{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}
{% block title %}Demo | FE{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/static/estilos.css">
    <link rel="stylesheet" type="text/css" href="/static/notifIt.min.css">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.init.js' %} "></script>
    <script type="text/javascript" src="{% static 'js/sweetalert2.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'js/notifIt.min.js' %} "></script>

{% endblock %}
{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Ferretería Porvenir - Panel de control</a></h1>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> ›
        {% if title %} &rsaquo; {{ title }}{% endif %}
            › Agregar Saldo Inicial
    </div>
{% endblock %}
{% block usertools %}
    <div id="user-tools">
        {% block welcome-msg %}
            {% trans 'Bienvenido,' %}
            <strong>{% firstof user.get_short_name user.get_username %}</strong>.
        {% endblock %}
        {% block userlinks %}
            {% if site_url %}
                <a href="{{ site_url }}">{% trans 'View site' %}</a> /
            {% endif %}
            {% if user.is_active and user.is_staff %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                {% endif %}
            {% endif %}
            {% if user.has_usable_password %}
            <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
            {% endif %}
            <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
        {% endblock %}
    </div>
{% endblock %}
{% block nav-global %}{% endblock %}
    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}
{% block content %}
  <!--   <table style="width: 100%"> -->
        {% csrf_token %}
        <form class="col-xs-12" method="post" action="javascript:void(0)"></form>
            <div>
                <h1 style="text-transform: uppercase">Saldo inicial del dia</h1>
                    <div style="background-color:white">  
                        <br>
                        <label class="required" for="caja_id">Saldo Inicial</label>
                        <input type="number" id="saldo" >
                        <br>
                        <br>
                       
                    </div>
            <div>
        </form>

    <div class="submit-row">
        <input onclick="clickOK()" type="submit" class="default" value="Aceptar" style="cursor: pointer">
    </div>

    <script>
        const $ = django.jQuery;

        function clickOK() {
            let saldo_inicial = parseInt($("#saldo").val());

            if (saldo_inicial <= 0 |  isNaN(saldo_inicial)){
                notif ({
                    msg: "El saldo inicial no puede ser cero",
                    type: "error",
                    position: "center"
                });
            }else if (saldo_inicial >= 0 ){
               
            }
            
            $.ajax({
                type: "POST",
                dataType : "json",
                data : {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    saldoInicial: saldo_inicial
                },
                success: function(data){
                    Sweetalert2.fire({
                        type: 'success',
                        title: 'Ejucutado Exitosamente',
                    }).then((result) => {
                        window.location.href = window.location.href.split("add")[0];
                    });
                    hideSpin();

                },
                error: function(error){
                    Sweetalert2.fire({
                        type: 'error',
                        title: 'Revise los datos',
                        text: error.responseJSON.error
                    });
                    hideSpin();
                }
            });





        }




    </script>


{% endblock %}