{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}
{% block title %}Añadir Orden Compra | FE{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/static/estilos.css">
    <link rel="stylesheet" type="text/css" href="/static/notifIt.min.css">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.init.js' %} "></script>
    <script type="text/javascript" src="{% static 'js/sweetalert2.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'js/notifIt.min.js' %} "></script>
{% endblock %}
{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Ferretería Porvenir - Panel de control</a></h1>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> ›
    <a href="/admin/hr/">Producto</a> ›
    {% if title %} &rsaquo; {{ title }}{% endif %}
        › Añadir Orden de Compra
    </div>
{% endblock %}
{% block usertools %}
    <div id="user-tools">
        {% block welcome-msg %}
            {% trans 'Bienvenido,' %}
            <strong>{% firstof user.get_short_name user.get_username %}</strong>.
        {% endblock %}
        {% block userlinks %}
            {% if site_url %}
                <a href="{{ site_url }}">{% trans 'View site' %}</a> /
            {% endif %}
            {% if user.is_active and user.is_staff %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                {% endif %}
            {% endif %}
            {% if user.has_usable_password %}
            <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
            {% endif %}
            <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
        {% endblock %}
    </div>
{% endblock %}
{% block nav-global %}{% endblock %}
    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}
{% block content %}
    {% csrf_token %}

<!-- SECCION PROVEEDORESSSS -->
     <script>
        const $ = django.jQuery;
        //csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value;

        var encontrados = [];
        var proveedorSeleccionado = -1;

        function cambiarProveedor(ind){
            proveedorSeleccionado = ind;
            $("#ruc").html(encontrados[ind].ruc);
            $("#razon_social").html(encontrados[ind].razon_social);
            $("#direccion").html(encontrados[ind].direccion);
            $("#telefono").html(encontrados[ind].telefono);
        }

        function buscarProveedor(){

            let busc = $("#provBus").val();

            if (busc.length === 0){
                notif ({
                    msg: "No se encontro ningun proveedor",
                    type: "error"
                    });
                return;
            }

            encontrados = [];
            proveedorSeleccionado = -1;

            // VACIAR LOS 3 LABELS DE INFO DEL PROVEEDOR
            $("#ruc").html("");
            $("#razon_social").html("");
            $("#direccion").html("");
            $("#telefono").html("");


            $.ajax({
                url : "/api/get_proveedores_reg_orden_compra",
                type: "POST",
                data : {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    buscado: busc
                },
                dataType : "json",
                success: function(data){
                    console.log(data.encontrados);

                    let found = data.encontrados;
                    encontrados = found;
                    let opciones = "";

                    for (let i=0; i<found.length; i++){
                        opciones = opciones.concat('<option value="' + i + '">' + found[i].ruc + ' - '
                            + found[i].razon_social + '</option>');
                    }

                    $("#contenedorProv").html('<select id="provSelec" ' +
                        'onchange="cambiarProveedor(this.options[this.selectedIndex].value)">' + opciones + '</select>');

                    // ALERTAR QUE SE ENCONTRARON COSAS O NO
                    if (encontrados.length > 0){
                         notif ({
                            msg: "Seleccione un proveedor",
                            type: "success"
                        });
                    }else if (encontrados.length === 0 ){
                        $("#contenedorProv").empty();
                         notif ({
                            msg: "No se encontro ningun proveedor",
                            type: "error"
                         });
                    }
                },
                error: function(error){
                    // ALERTAR ERROR DE COMUNICACION CON EL SERVIDOR
                }

            });
        }
    </script>

    <!-- SECCION PRODUCTOSSSSSS -->
    <script>
        //const $ = django.jQuery;
        //csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value;

        // array de diccionarios de productos econtrados
        var prodEncontrados = [];
        // indice del prod seleccionado dentro de array de prodEncontrados
        var productoSeleccionado = -1;

        function cambiarProducto(ind){
            productoSeleccionado = ind;
            $("#cod").html(prodEncontrados[ind].codigo);
            $("#den").html(prodEncontrados[ind].denominacion);
            $("#pre").html(prodEncontrados[ind].precio_compra);
            // no es un <b>, es <input>, usa val
            $("#cant").val(prodEncontrados[ind].cant);
        }

        var listado = {};

        /*
            DIBUJA EL TABLE DE LISTADO DE PRODUCTOS
        */
        function dibujarListado() {
            $("#tbodylista").empty();
            let arrHijos = [];
            for (let p in listado){
                arrHijos.push('<tr><td>' + p + 
                '</td><td>' + listado[p]["codigo"] + '</td><td>' + 
                    listado[p]["denominacion"] + '</td><td>' + 
                    listado[p]["precio_compra"] + '</td><td>' + 
                    listado[p]["cantidad"]+ 
                    '</td><td class="flex"><button title="Eliminar" class="ico" onclick="deleteProducto(' + p 
                    + ')">&#10006;</button>' +
                    '<button title="Incrementar Cant" class="ico" onclick="sumarCantidad(' + p 
                    + ')">&#10010;</button>' +
                    '<button title="Disminuir Cant" class="ico" onclick="restarCantidad(' + p 
                    + ')">&#9473;</button></td></tr>'
                    );
                    
            }
            if (arrHijos.length === 0) {
                arrHijos.push('<tr><td colspan="6">Sin productos.</td></tr>');
            }
            $("#tbodylista").html(arrHijos);         
        }

        function deleteProducto(indicado) {
            delete listado[indicado];
            dibujarListado();
        }

        function sumarCantidad(indicado){
            listado[indicado]["cantidad"]++;
            dibujarListado();
            
        }

        function restarCantidad(indicado){
            listado[indicado]["cantidad"]--;
            dibujarListado();
        }


        function addProducto(){
            // VALIDAR ESTO, mayor que cero siempre
            let can = parseInt($("#cant").val());

            if (can <= 0 | isNaN(can)) {
                notif ({
                    msg: "La cantidad debe ser mayor a cero",
                    type: "error"
                });
                return; 
            }

            // el producto seleccionado es prodEncontrados[productoSeleccionado]
            if (prodEncontrados[productoSeleccionado].id in listado) {
                console.log("El producto está en la lista, se aumenta cantidad");
                listado[prodEncontrados[productoSeleccionado].id]["cantidad"] += can;
            } else {
                console.log("Se agrega el producto a la lista");
                listado[prodEncontrados[productoSeleccionado].id] = {
                    "codigo": prodEncontrados[productoSeleccionado].codigo,
                    "denominacion": prodEncontrados[productoSeleccionado].denominacion,
                    "precio_compra": prodEncontrados[productoSeleccionado].precio_compra,
                    "cantidad": can,
                };
            }
            dibujarListado();
            console.log(listado);
        }

        function buscarProducto(){

            let buscado = $("#prodBus").val();

            if (buscado.length === 0){
                notif ({
                    msg: "No se encontro ningun producto",
                    type: "error"
                });
                return;
            }

            prodEncontrados = [];
            productoSeleccionado = -1;

            // VACIAR LOS LABELS DE INFO DEL PRODUCTO
            $("#cod").html("");
            $("#den").html("");
            $("#pre").html("");
            $("#cant").html("");

             $.ajax({
                url : "/api/get_producto_reg_orden_compra",
                type: "POST",
                data : {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                     prodBus: buscado
                },
                dataType : "json",
                success: function(data){
                    console.log(data.prodEncontrados);

                    let foundProd = data.prodEncontrados;
                    prodEncontrados = foundProd;
                    let opcionesProd = "";

                    for (let i=0; i<foundProd.length; i++){
                        opcionesProd = opcionesProd.concat('<option value="' + i + '">' + foundProd[i].codigo + ' - '
                            + foundProd[i].denominacion + '</option>');
                    }
                    $("#contenedorProd").html('<select id="prodSelec" ' +
                        'onchange="cambiarProducto(this.options[this.selectedIndex].value)">' + opcionesProd + '</select>');

                    // ALERTAR QUE SE ENCONTRARON COSAS O NO
                    if (prodEncontrados.length > 0){
                         notif ({
                            msg: "Seleccione un producto",
                            type: "success"
                        });
                        //llamar a seleccionar el primero
                        cambiarProducto(0);
                    }else if (prodEncontrados.length === 0 ){
                        $("#contenedorProd").empty();
                         notif ({
                            msg: "No se encontro ningun producto",
                            type: "error"
                         });
                    }
                },
                error: function(error){
                    // ALERTAR ERROR DE COMUNICACION CON EL SERVIDOR
                }

            });

        }
    </script>

    <!-- SECCION PROVEEDORESSSS -->
    <div>
        <h1>Registrar nueva orden de compra</h1>
    </div>
    <div>
        <h2>Datos del proveedor</h2>
        <table style="width: 100%">
            <tbody>
                <tr>
                    <td>Buscar (RUC o razón social) </td>
                    <td>
                        <input type="text" id="provBus"/>
                        <input type="submit" class="defaut" value="BUSCAR" onclick="buscarProveedor()" />
                    </td>
                </tr>
                <tr>
                    <td>Seleccionar</td>
                    <td id="contenedorProv">
                    </td>
                </tr>
                <tr>
                    <td>RUC</td>
                    <td><b id="ruc"></b></td>
                </tr>
                <tr>
                    <td>Razón social</td>
                    <td><b id="razon_social"></b></td>
                </tr>
                <tr>
                    <td>Dirección</td>
                    <td><b id="direccion"></b></td>
                </tr>
                 <tr>
                    <td>Telefono</td>
                    <td><b id="telefono"></b></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- PRODUCTOOOOOOOOOOOOOOOOOOOOOOO -->
    <div>
        <h2>Ingresar datos del producto</h2>
        <table style="width: 100%">
            <tbody>
                <tr>
                    <td>Buscar:</td>
                    <td>
                        <input type="text" id="prodBus"/>
                        <input type="submit" class="defaut" value="BUSCAR" onclick="buscarProducto()" />
                    </td>
                </tr>
                  <tr>
                    <td>Seleccionar</td>
                    <td type="select" id="contenedorProd"></td>
                </tr>
                <tr>
                    <td>Código de barras</td>
                    <td><b id="cod" ></b></td>
                </tr>
                <tr>
                    <td>Denominación</td>
                    <td><b id="den" ></b></td>
                </tr>
                <tr>
                    <td>Precio</td>
                    <td><b id="pre" ></b></td>
                    <td>Cantidad</td>
                    <td><input type= "number" id="cant"></td>
                </tr>
               <tr>
                    <td>
                        <div class="submit-row" style="margin: 0">
                            <input onclick="addProducto()" type="submit" class="default" value="AGREGAR">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div>
        <h2>Listado de productos agregados</h2>
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Código de barras</th>
                    <th>Denominación</th>
                    <th>Precio de compra</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tbodylista">
                <tr>
                    <td colspan="6">Sin productos.</td>
                </tr>
            </tbody>
        </table>
    </div>


{% endblock %}
